body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  main {
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  section#home {
    text-align: center;
    margin-top: 50px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    display: block;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  ul li a:hover {
    background-color: #666;
  }
  
  /* Media Query para telas menores */
  @media (max-width: 768px) {
    header {
      text-align: center;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }